<div class="mainContainer">
    <div class="break"></div>
    <div class= "small">
        <p>img here</p>
    </div>
    <div class= "medium">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic in voluptatibus dicta illo explicabo accusantium quaerat. Repudiandae, ea eaque ipsum commodi cum facere aperiam quos optio, cupiditate eius amet aliquam?</p>
    </div>
    <div class="break"></div>
    <div class= "medium">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fugit quos quidem nobis recusandae molestiae doloribus quia enim provident? Perferendis deleniti ab non adipisci debitis itaque magnam ducimus eveniet magni.</p>
    </div>
    <div class= "small">
        <p>hobbies or somethin idk</p>
    </div>
    <div class="break"></div>
    <app-footer></app-footer>
</div>