/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body {
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden;
    height: 100%;
}

.bg-svg {
    background: url("./assets/WebsiteBackground.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    height: 100%;
    width: 100%;
}
/*Navbar*/
#navlogo {
    margin: auto;
    width: 80%;
    clear: both;
    height: 6vh;
}
#logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    float:left;
    height: 100%;
}
#logo img {
    height: 5vh;
    
}
#logo p {
    font-size:  2.5vh;
}
#vl {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 3vh;
    border-right: 2px solid #a23e48ff;

}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    padding: 0;
    height: 100%;
    margin: 0;
}

#navbar a {
    text-align: left;
    text-decoration: none;
    font-size: 2.5vh;
    color: black;
    cursor: pointer;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    bottom: -2px;
    position: absolute;
    background: #a23e48ff;
    transition: width 0.4s ease-in-out 0s, right 0.4s ease-in-out 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
  }
