<div id="homeContainer">

    <div class="far medium left">
        <img src="../../assets/block.svg" class="blockImg">
    </div>
    <div class="closest small right">
        <img src="../../assets/block.svg" class="blockImg">
    </div>
    <div class="close small right">
        <img src="../../assets/block.svg" class="blockImg">
    </div>
    <div class = "break"></div>

    <div class="closest small left">
        <img src="../../assets/block.svg" class="blockImg">
    </div>
    <div class="medium center"><h1>Welcome</h1></div>
    <div class="far small right">
        <img src="../../assets/block.svg" class="blockImg">
    </div>
    <div class="break"></div>

    <div class="close medium left">
        <img src="../../assets/block.svg" class="blockImg">
    </div>
    <div class="closest medium right">
        <img src="../../assets/block.svg" class="blockImg">
    </div>
    <div class="break"></div>

    <div class="large center">
        <p>Hii</p>
    </div>
    <div class="large center">
        <p>Hii</p>
    </div>
    <div class="large center">
        <p>Hii</p>
    </div>
    <div class="large center">
        <p>Hii</p>
    </div>
    <div></div>
    <app-footer></app-footer>
</div>

