<div id="homeContainer">
    <div class="small center">
        <p>home works!</p>
    </div>
    <div class="medium right">
        <p>home works!</p>
    </div>
    <div class = "break"></div>
    <div class="large center">
        <p>home works!</p>
    </div>
    <div class="large center">
        <p>home works!</p>
    </div>
    <div class="large center">
        <p>home works!</p>
    </div>
    <div class="large center">
        <p>home works!</p>
    </div>
    <div class="large center">
        <p>home works!</p>
    </div>
    
</div>

